<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="font-size: xx-large;align-content: center">Bienvenidos a Érase una vez</mat-card-title>
    <mat-card-subtitle> </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>




  </mat-card-content>

  <mat-card-actions>
    <h1>¡DISFRUTA NUESTRO CONTENIDO¡</h1>
    <div class="im" class="row justify-content-md-center">
      <div class="im" class="col-sm-auto">
        <!--<a href="app/pantallas/paraleer.html"><img src="assets/images/chanchito.jpg"></a>-->
        <a class="im" [routerLink]="['/panel/cuentoss/cuentoss11']"><img class="im" src="assets/images/b.jpg" width="300px"></a>

        <a class="im" [routerLink]="['/panel/cuentoss/cuentoss22']"><img class="im" src="assets/images/c.jpg" width="272px"></a>
        <a class="im" [routerLink]="['/panel/cuentoss/cuentoss33']"><img  class="im"src="assets/images/pinocho.jpg" width="325px"></a>

      </div>
      <div class="im" class="col-sm-auto">
        <button class="im" [routerLink]="['/panel/cuentoss/cuentosver']"   width="90%">
        </button>
      </div>
      <!--<div class="col-sm-auto">
          <a href="Javascript:void(0)" [routerLink]="['/dashboard']"><img src="assets/images/sirena.jpg"></a>
      </div>-->
    </div>
  </mat-card-actions>


</mat-card>

<hr />
<div class="col-sm-4">
  <div class="card text-white bg-primary mb-3">
    <div class="card-header">¿Por que escoger Cuentolandia?</div>
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p class="card-text"> Tenemos tus cuentos preferidos , y podras tener a tu alcance en nuestra pagina
        totalmente gratuita</p>
    </div>
  </div>
</div>
<div class="col-sm-4">
  <div class="card text-white bg-secondary mb-3">
    <div class="card-header">Header</div>
    <div class="card-body">
      <h4 class="card-title">Secondary card title</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
        card's content.</p>
    </div>
  </div>
</div>
</body>
</html>
